/*VARIABLES*/
$card-height: 25rem;
$card-width: 20rem;
$card-border-radius: 2rem ;
$global-font-family: 'Roboto', 'sans-serif', 'GilL Sans';


/*tags*/
$default-tag-color: #fff;
$default-tag-bg: rgb(31, 9, 102);