/*VARIABLES*/
$card-height: 30rem;
$card-width: 25rem;
$card-border-radius: 2rem ;
$global-font-family: 'Roboto', 'sans-serif', 'GilL Sans';

/*TAGS*/
$default-tag-color: #fff;
$default-tag-bg: rgb(79, 5, 140);


//BACKGROUND VARIABLES
// Colors
$bg-color: hsl(258, 88%, 7%);
$dot-color: rgb(255, 255, 255);
  
// Dimensions
$dot-size: 0.5px;
$dot-space: 100px;


//System Color Pallete
$Primary-text-color: #ffffff;// (RGB: 221, 208, 251)
$Secondary-bg-color: #0a0312; //(RGB: 10, 3, 18)

$Primary-color-button: #4b00bd;// (RGB: 75, 0, 189)
$Primary-color-button-hover: #230254;// (RGB: 75, 0, 189)

$Secondary-color-button: #1fe0a6; //(RGB: 31, 224, 166)
$Accent-color: #ae00ff; //(RGB: 174, 0, 255)
$Accent-color2: rgb(0, 255, 242); //(RGB: 255, 0, 238)

$text-color-light : #ffffff;
$text-color-dark: #03011b;

$background-color: $bg-color;
$highlight: yellow;
//$background-image-dark: linear-gradient(to right bottom, #1a0136, #160334, #130532, #10072f, #0e082c, #0e082c, #0e082b, #0e082b, #10072d, #12052f, #150431, #180233);
$background-image-dark: linear-gradient(to right bottom, #100a1d, #0d0a1c, #0a0a1a, #070a18, #050a16, #060814, #070711, #07060e, #07040a, #060206, #040102, #000000);
$background-image-light: linear-gradient(to right bottom, #bebef8, #b6b4f5, #aea9f2, #a79fee, #a094ea, #a292ea, #a48feb, #a78deb, #b292ef, #bc97f3, #c69df7, #d0a2fb);

//logos
$logoPath: '../../../src/assets/logos/';
$MainLogo: url('#{$logoPath}MainLogoNoletters.svg');
$MainLogo2: url('#{$logoPath}FullWhiteLetters.png');
$MainLogo3: url('#{$logoPath}FullDarkAndWhiteLetters.png');


.border-color-torqouise{
  border: 1px solid $Accent-color2;
}
.border-color-pink{
  border: 1px solid $Accent-color;
}

.text-emphasis-color-pink{
    color: $Accent-color;
}
.text-emphasis-color-torquoise{
  color: $Accent-color2;
}
.btn-primary-button-color{
  background-color: $Primary-color-button;
  color: $Primary-text-color;
  max-width: 250px;
  &:hover{
    background-color: $Primary-color-button-hover;
  }
}