
/* note that there is a style tag on row 
   that has --bs-gutter-x: 2rem;*/

//make span elementes white if there is a black background
// .card-span-highlight {
//   color: white;
// }

$card-height: 25rem;
$card-width: 20rem;
$card-border-radius: 2rem ;

.card {
    position: relative;
    height: $card-height;
    width: $card-width;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    margin-inline: 1rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 50px -10px rgb(37, 2, 62);
    overflow: hidden;
    border-radius: $card-border-radius;
    cursor: pointer;
    
}

.card-blur {
    position: absolute;
    height: $card-height;
    width: $card-width;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    box-shadow: 0 0 80px -10px black;
    // overflow: hidden;
    border-radius: $card-border-radius;
    background-color: rgb(33, 6, 76);
    opacity: 1;
    transition: opacity 0.15s ease-in;
    cursor: pointer;
}

.card:hover .card-blur {
    opacity: .95;
    cursor: pointer;
    background-color: rgb(33, 6, 76);

}

.card-footer {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    margin-top: 50%;
    cursor: pointer;
    border: none;
}
.card-footer:hover {
    cursor: pointer;
    margin-top: 10%;
    // margin-top: 10%;
    transition: ease-in 0.5s;
    transition-duration: 0.2s;
    overflow: auto;
    //allow scroll
     overflow-y: scroll;

}

.card:hover {
    transform: translateY(0px);
}

.card:hover .info {
    transform: translateY(0px);
}

.card {
    background-image: linear-gradient(45deg, #381a5e, #19023a);
    color: #05F4B7;
    border: none;
}
.card-image{
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    height: auto; 
    width:111%; 
    top: 0;
    border-radius: $card-border-radius;
}




