<mat-toolbar class="mat-elevation-z8">
  <a class="navbar-brand" alt="Logo" [routerLink]="['/home']" (click)="searchComponent.clearSearch();searchComponent.toggleCloseButton()">
    <div class="navbar-logo" alt="Logo" ></div>
  </a> 
  <button mat-icon-button    
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
   >
    <mat-icon *ngIf="!sidenav.opened"> menu_open </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon> 
  </button>

  <div class="d-none d-md-flex ml-auto">
    <a href="http://facebook.com/codedetailspage" target="_blank" class="btn text-emphasis-color-torquoise m-1">
      <fa-icon [icon]="icons.faFacebookF"></fa-icon>
    </a>
    <a href="http://twitter.com/code_details" target="_blank" class="btn text-emphasis-color-torquoise m-1">
      <fa-icon [icon]="icons.faTwitter"></fa-icon>
    </a>
    <a href="http://instagram.com/code_details" target="_blank" class="btn text-emphasis-color-torquoise m-1">
      <fa-icon [icon]="icons.faInstagram"></fa-icon>
    </a>
    <a href="http://linkedin.com" target="_blank" class="btn text-emphasis-color-torquoise m-1">
      <fa-icon [icon]="icons.faLinkedinIn"></fa-icon>
    </a>
    <button class="btn btn-primary-button-color m-1">Sign In</button>
  </div>
</mat-toolbar>




<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" position="end">
    <img class="avatar mat-elevation-z8 navbar-logo-img" />
    <h4 class="name">Code_Details</h4>
    <p class="designation">Software Engineer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/all">
      <mat-icon class="text-emphasis-color-torquise">home</mat-icon>
      <span>All Content</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tutorials">
      <mat-icon class="text-emphasis-color-torquise">start</mat-icon>
      <span>Tutorials</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon class="text-emphasis-color-torquise">info</mat-icon>
      <span>About</span>
    </button>
    <button mat-button class="menu-button" routerLink="/projects">
      <mat-icon class="text-emphasis-color-torquise">books</mat-icon>
      <span>Projects</span>
    </button>
    <button mat-button class="menu-button" routerLink="/tags">
      <mat-icon class="text-emphasis-color-torquise">tag</mat-icon>
      <span>Tags</span>
    </button>
    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon class="text-emphasis-color-torquise">help</mat-icon>
      <span>Help</span>
    </button>

    <mat-divider class="d-md-none flex-colum col-12 align-items-center mb-1"></mat-divider>
    <div class="d-flex d-md-none flex-colum col-12 align-items-center mb-1">
      
      <a href="http://facebook.com/codedetailspage" target="_blank" class="btn text-emphasis-color-torquoise btn-sm m-1">
        <fa-icon [icon]="icons.faFacebookF"></fa-icon>
      </a>
      <a href="http://twitter.com/code_details" target="_blank" class="btn text-emphasis-color-torquoise btn-sm m-1">
        <fa-icon [icon]="icons.faTwitter"></fa-icon>
      </a>
      <a href="http://instagram.com/code_details" target="_blank" class="btn text-emphasis-color-torquoise btn-sm m-1">
        <fa-icon [icon]="icons.faInstagram"></fa-icon>
      </a>
      <a href="http://linkedin.com" target="_blank" class="btn text-emphasis-color-torquoise btn-sm m-1">
        <fa-icon [icon]="icons.faLinkedinIn"></fa-icon>
      </a> 
      
    </div>
    <div class="d-md-none flex-colum col-12 align-items-center mb-1">
      <h2>Thanks 🥹&nbsp;☕️&nbsp;❤️</h2>
    </div>
    <div style="margin-bottom:100px"></div>
    
    
  </mat-sidenav>

  <mat-sidenav-content >
    <div class="container content">
      <app-search></app-search>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 