
 <body>
  <div class="background">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand center">Code Details</a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="tutorials" class="nav-link">Courses</a>
          </li>
          <li class="nav-item">
            <a routerLink="add" class="nav-link">Add</a>
          </li>
          <li class="nav-item">
            <a routerLink="details" class="nav-link">details</a>
          </li>
        </div>
      </nav>
      <router-outlet></router-outlet> 
  </div>
</body>
<!-- Footer
-->
<footer class="footer " style="background-color:black; margin:auto; padding:0; margin-top:-3rem;">
  <div class="container" style="margin: auto; justify-content:center; display:flex; ">
    <span class="text-muted">Copyright &copy; 2022 Code Details | All Rights Reserved</span>
  </div>
</footer> 

