<!-- <div class='md-padding m-3 ' layout='row' layout-wrap style="background-color:rgb(249, 101, 51)">
  <h2>{{ title }} in Tutorial-List Component</h2>
  
 <ais-instantsearch [config]="searchConfig" 
                    >
  <ais-stats></ais-stats>
  <ais-refinement-list attribute="title"></ais-refinement-list>
   <ais-search-box ></ais-search-box> -->
   
  
   <!-- <ais-hits *ngIf="showResults">  -->
     <!-- <ng-template let-hits="hits"> -->
       <!-- this is where we populate hits from teh search-->
       <!-- <div class="row">
        <div *ngFor="let hit of hits;
                     let i = index"
                     class="card md-padding m-3 " 
                     style="width: 18rem; margin-bottom: 10px;"> 
            <img [src]="hit.img" class="card-img-top" alt="Card image cap" />
            <div class="card-body card text-black bg-info">
             <h2 class="card-title" >Title: {{hit.title }}</h2>
             <ais-highlight class="card-text" [hit]="hit" attribute="description"></ais-highlight>
             <p class="card-text">URL: {{ hit.url}}</p>
             <p class="card-text">Tags: {{ hit.tags}}</p>
             <p class="card-text">Pages: {{ hit.pages }}</p>
              <a [routerLink]="['/tutorials', hit.objectID]" class="btn btn-primary">Go somewhere</a> 
           <ais-snippet [hit]="hit" attribute="title"></ais-snippet>
           </div>
        </div>
        </div> -->
       <!-- <ol class="ais-Hits-list">
         <li *ngFor="let hit of hits" class="ais-Hits-item">
          {{hit.title}}
         </li>
       </ol> -->
     <!-- </ng-template> -->
    <!-- </ais-hits> -->
 
    <!-- </ais-instantsearch> -->
    <!-- <ais-pagination [totalPages]=""></ais-pagination>
   -->
   <!-- <div class="col-md-6 row-md-4">
    <div *ngIf="currentTutorial">
      <app-tutorial-details
        (refreshList)="refreshList()"
        [tutorial]="currentTutorial"
      ></app-tutorial-details>
    </div> --> 
 <!-- <router-outlet></router-outlet> -->
<!-- </div> -->

<!-- <br>
<br>
<br>
THIS IS THE OLD STUFF
-------------------
<br>
<br>
<br>


<div class="card grid row">
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <ul class="grid-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials;
                  let i = index;"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)"
          style="background-color: grey; color: white; border: 1px solid black; 
          border-radius: 5px; margin-bottom: 5px; padding: 5px;
            text-align: center; font-size: 20px; font-weight: bold;
            text-decoration: none;">
        >
         THIS IS A WORKING WAY TO SEPERATE TAGS , NEEDS WORK MOVED TO A DIFFERNT PAGE , integrated with algolia search idealy-->
          <!-- {{ tutorial.url}}
          <br />
          {{ tutorial.title}}
          <br />
          {{ tutorial.description }}
          <div *ngFor="let tag of tutorial.tags;
                       let i = index;"
                       class="row">
            <button class="btn btn-secondary"
              *ngIf="i==0">
              {{tag}}
            </button>
            <button class="btn btn-primary"
              *ngIf="i==1">
              {{tag}}
            </button>
            <button class="btn btn-success"
              *ngIf="i==2">
              {{tag}}
            </button>
            <button class="btn btn-danger"
              *ngIf="i==3">
              {{tag}}
            </button>
            <button class="btn btn-danger"
              *ngIf="i==4">
              {{tag}}
            </button>
            <button class="btn btn-warning"
              *ngIf="i==5">
              {{tag}}
            </button>
            <button class="btn btn-info"
              *ngIf="i==5">
              {{tag}}
            </button> -->
              
          <!-- {{ tutorial.tags }} -->
          <!-- </div>
          
          <br>
          {{ tutorial.img}}
          <br />
          {{ tutorial.id }}
          <br />
          {{ tutorial.pages }}
        </li>
        
        
        
      </ul> -->
      
    <!-- <div class="col-md-6 row-md-4">
      <div *ngIf="currentTutorial">
        <app-tutorial-details
          (refreshList)="refreshList()"
          [tutorial]="currentTutorial"
        ></app-tutorial-details>
      </div> -->
  
      <!-- <div *ngIf="!currentTutorial">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>  -->

  <div class="container ">
    <ais-instantsearch [config]="searchConfig">
      <ais-stats></ais-stats>
      <ais-configure [searchParameters]="{ hitsPerPage: 4}"></ais-configure>
      <div class="search-panel " >
        <div class="search-panel__filters">
          <ais-panel  header="Tags" class="card">
            <ais-refinement-list attribute="tags" style="color:brown; margin:0em;"></ais-refinement-list>
          </ais-panel>
          <ais-panel header="titles">
            <ais-refinement-list attribute="title" ></ais-refinement-list>
          </ais-panel>
        </div>
        <div class="searchbox">
            <ais-search-box placeholder=""></ais-search-box>
        </div>
        <div class="search-panel__results">
          <ais-hits>
            <ng-template let-hits="hits" let-results="results" class="card"> 
              <div *ngIf="hits.length === 0">
                No results found matching <strong></strong>.
              </div>
  
              <ol class="ais-Hits-list">
                <li class="ais-Hits-item card" *ngFor="let hit of hits">
                  <article>
                    <h1>
                      <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                    </h1>
  
                    <p>
                      <ais-highlight attribute="description" [hit]="hit"></ais-highlight>
                    </p>
                  </article>
                </li>
              </ol>
            </ng-template>
          </ais-hits>
  
          <div>
            <ais-pagination></ais-pagination>
          </div>
        </div>
  
      </div>
    </ais-instantsearch>
  </div>