

<!-- <div class='md-padding m-3 ' layout='row' layout-wrap style="background-color:rgb(249, 101, 51)">
  <h2>{{ title }} in Tutorial-List Component</h2>
  
 <ais-instantsearch [config]="searchConfig" 
                    >
  <ais-stats></ais-stats>
  <ais-refinement-list attribute="title"></ais-refinement-list>
   <ais-search-box ></ais-search-box> -->
   
  
   <!-- <ais-hits *ngIf="showResults">  -->
     <!-- <ng-template let-hits="hits"> -->
       <!-- this is where we populate hits from teh search-->
       <!-- <div class="row">
        <div *ngFor="let hit of hits;
                     let i = index"
                     class="card md-padding m-3 " 
                     style="width: 18rem; margin-bottom: 10px;"> 
            <img [src]="hit.img" class="card-img-top" alt="Card image cap" />
            <div class="card-body card text-black bg-info">
             <h2 class="card-title" >Title: {{hit.title }}</h2>
             <ais-highlight class="card-text" [hit]="hit" attribute="description"></ais-highlight>
             <p class="card-text">URL: {{ hit.url}}</p>
             <p class="card-text">Tags: {{ hit.tags}}</p>
             <p class="card-text">Pages: {{ hit.pages }}</p>
              <a [routerLink]="['/tutorials', hit.objectID]" class="btn btn-primary">Go somewhere</a> 
           <ais-snippet [hit]="hit" attribute="title"></ais-snippet>
           </div>
        </div>
        </div> -->
       <!-- <ol class="ais-Hits-list">
         <li *ngFor="let hit of hits" class="ais-Hits-item">
          {{hit.title}}
         </li>
       </ol> -->
     <!-- </ng-template> -->
    <!-- </ais-hits> -->
 
    <!-- </ais-instantsearch> -->
    <!-- <ais-pagination [totalPages]=""></ais-pagination>
   -->
   <!-- <div class="col-md-6 row-md-4">
    <div *ngIf="currentTutorial">
      <app-tutorial-details
        (refreshList)="refreshList()"
        [tutorial]="currentTutorial"
      ></app-tutorial-details>
    </div> --> 
 <!-- <router-outlet></router-outlet> -->
<!-- </div> -->

<!-- <br>
<br>
<br>
THIS IS THE OLD STUFF
-------------------
<br>
<br>
<br>


<div class="card grid row">
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <ul class="grid-group">
        <li
          class="list-group-item"
          *ngFor="let tutorial of tutorials;
                  let i = index;"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(tutorial, i)" 
          style="background-color: grey; color: white; border: 1px solid black; 
          border-radius: 5px; margin-bottom: 5px; padding: 5px;
            text-align: center; font-size: 20px; font-weight: bold;
            text-decoration: none;">
        >
         THIS IS A WORKING WAY TO SEPERATE TAGS , NEEDS WORK MOVED TO A DIFFERNT PAGE , integrated with algolia search idealy-->
          <!-- {{ tutorial.url}}
          <br />
          {{ tutorial.title}}
          <br />
          {{ tutorial.description }}
          <div *ngFor="let tag of tutorial.tags;
                       let i = index;"
                       class="row">
            <button class="btn btn-secondary"
              *ngIf="i==0">
              {{tag}}
            </button>
            <button class="btn btn-primary"
              *ngIf="i==1">
              {{tag}}
            </button>
            <button class="btn btn-success"
              *ngIf="i==2">
              {{tag}}
            </button>
            <button class="btn btn-danger"
              *ngIf="i==3">
              {{tag}}
            </button>
            <button class="btn btn-danger"
              *ngIf="i==4">
              {{tag}}
            </button>
            <button class="btn btn-warning"
              *ngIf="i==5">
              {{tag}}
            </button>
            <button class="btn btn-info"
              *ngIf="i==5">
              {{tag}}
            </button> -->
              
          <!-- {{ tutorial.tags }} -->
          <!-- </div>
          
          <br>
          {{ tutorial.img}}
          <br />
          {{ tutorial.id }}
          <br />
          {{ tutorial.pages }}
        </li>
        
        
        
      </ul> -->
      
    <!-- <div class="col-md-6 row-md-4">
      <div *ngIf="currentTutorial">
        <app-tutorial-details
          (refreshList)="refreshList()"
          [tutorial]="currentTutorial"
        ></app-tutorial-details>
      </div> -->
  
      <!-- <div *ngIf="!currentTutorial">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>  -->
 <!--  -->
  <!--WORKING CODE FOR INSTASEARCH JUST COMMENTED OUT FOR NOW-->
  <!-- --------------------------------------->



  <div class="scaffold container">
  <ais-instantsearch [config]="searchConfig">
    
    <div class="body-of-search">
      <ais-search-box placeholder="Search Something..." submitTitle="Go" [searchAsYouType]=false></ais-search-box>
    </div>
    

    <ais-configure [searchParameters]="{ hitsPerPage: 4}"></ais-configure>
    <div class="search-panel " >
    
      <ais-stats></ais-stats>
     

      <div class="search-panel__results">
        <ais-hits> 
          <ng-template let-hits="hits" let-results="results"> 
            <div *ngIf="hits.length === 0"> oh man! I think I need to add more content :( <strong></strong>.
            </div>
            
            <div class="row justify-content-center" style="--bs-gutter-x: 2rem;">
              
              <div class="card" 
                  *ngFor="let hit of hits;"
                  (click)="openModal(hit.objectID)">
                <div>
                  <!-- <p>{{hit.title}}</p> -->
                  <jw-modal id="{{hit.objectID}}">
                  <div class="iframe-container">
                    <iframe 
                    class="responsive-iframe" 
                    width="100%" 
                    height="100%"
                    [src]="hit.url | safe"
                    title="pizza"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen=""
                    style="position:absolute; top:0; left: 0">
                    </iframe>
                  </div>
                  <div class="container">
                    <button (click)="closeModal(hit.objectID)" style="border: unset; background:transparent; display: block;
                    margin-left: auto;
                    margin-right: auto;">
                    <button class="button-85" role="mat-button"><fa-icon [icon]="faCircleXmark"></fa-icon> Close Video</button>
                    </button>
                  </div>
                  <!-- <h1>Home page text: <input type="text" [(ngModel)]="bodyText" /></h1> -->
                  </jw-modal>
                </div>                                                                                                                                                                      
                <img src="{{hit.img}}" alt="{{hits.title}}" class="card-image">

               <footer class="card-footer card-blur"> 
               <br>
                <!-- <h3> <a href="{{hit.url}}">{{hit.title}}</a></h3> -->
                
                <h3>
                  <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                </h3>
                <span class="card-span-highlight">
                  <ais-highlight attribute="description" [hit]="hit"></ais-highlight>
                </span>
                <div>
                <a [routerLink]="['/details', hit.objectID]" class="btn btn-primary" style="margin-top:1rem;">Go somewherez</a>
                 </div> 
                </footer>
               </div>
            </div> 
            </ng-template>
          </ais-hits>
         
          
           
          
      </div>
      
      <div class="search-panel__filters">
        <ais-panel  class="container-filters">
          <h6 style="font-weight:100;">REFINE YOUR LIST</h6>
          <br>
          <ais-refinement-list [showMore]="true" attribute="tags" [limit]="6"></ais-refinement-list>
        </ais-panel>
        <!-- <ais-panel header="titles" class="container">
          <ais-refinement-list attribute="title" [showMore]="true" [limit]="6" ></ais-refinement-list>
        </ais-panel> -->
      </div> 
      <div class="pagination-container">
 <ais-pagination [totalPages]="6"></ais-pagination>
 </div>

    </div>
  </ais-instantsearch>
</div>

<!-- <div class="background"></div>
              <div id="curve" class="card">
                  <div class="footer">
                      <div class="connections">
                          <div class="connection facebook"><div class="icon"></div></div>
                          <div class="connection twitter"><div class="icon"></div></div>
                          <div class="connection behance"><div class="icon"></div></div>
                      </div>
                      <svg id="curve">
                          <path id="p" d="M0,200 Q80,100 400,200 V150 H0 V50" transform="translate(0 300)" />
                          <rect id="dummyRect" x="0" y="0" height="450" width="400"
                    fill="transparent" />
                          
                          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,100 400,50 V150 H0 V50" fill="freeze" begin="dummyRect.mouseover" end="dummyRect.mouseout" dur="0.1s" id="bounce1" />
                          
                          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,0 400,50 V150 H0 V50" fill="freeze" begin="bounce1.end" end="dummyRect.mouseout" dur="0.15s" id="bounce2" />
                          
                          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,80 400,50 V150 H0 V50" fill="freeze" begin="bounce2.end" end="dummyRect.mouseout" dur="0.15s" id="bounce3" />
                          
                          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,45 400,50 V150 H0 V50" fill="freeze" begin="bounce3.end" end="dummyRect.mouseout" dur="0.1s" id="bounce4" />
                         
                          <animate xlink:href="#p" attributeName="d" to="M0,50 Q80,50 400,50 V150 H0 V50" fill="freeze" begin="bounce4.end" end="dummyRect.mouseout" dur="0.05s" id="bounce5" />

                          <animate xlink:href="#p" attributeName="d" to="M0,200 Q80,100 400,200 V150 H0 V50" fill="freeze" begin="dummyRect.mouseout" dur="0.15s" id="bounceOut" />
                      </svg>
                      <div class="info">
                          <div class="name">Filan Fisteku</div>
                          <div class="job">Architect Manager</div>
                      </div>
                  </div>
                  <div class="card-blur"></div>
              </div> -->

<!-- 
    <div >
      <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
  </div>
  <div>
  <jw-modal id="custom-modal-1">
      <h1>A Custom Modal!</h1>

      <div class="container"> 
      <iframe src="https://www.youtube.com/embed/hUMfUgMJT00"
        title="Video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
       </iframe>
      </div>
      <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
      <button (click)="closeModal('custom-modal-1')">Close</button>
  </jw-modal>
</div> -->
  
<!-- title="YouTube video player" frameborder="0"
       allow="accelerometer;  
       clipboard-write; encrypted-media; 
       gyroscope; 
       picture-in-picture"
        allowfullscreen -->
  <!-- <jw-modal id="custom-modal-2">
      
      <h1 style="height:600px">A Tall Custom Modal!</h1>
      <button (click)="closeModal('custom-modal-2');">Close</button>
  </jw-modal>
 -->

  