<div class="container border rounded p-3 mb-4">
  <div class="row">
    <div class="col-12 col-md-9 mx-auto">
      <form> 
        <div class="form-group d-flex justify-content-center">
          <button class="btn btn-link white material-icons search-icon mr-0" aria-label="search" (click)="search()">
            <fa-icon [icon]="['fas', 'magnifying-glass']" [size]="'lg'"></fa-icon>
          </button>
          <input type="text" class="custom-input form-control ml-2" placeholder='Search Code Details' aria-label="Search Code Details"
                [(ngModel)]="searchTerm" (keyup.enter)="search();"
                [ngModelOptions]="{standalone: true}"
                (input)="onInput();toggleCloseButton()"
          >
          <button class="btn btn-link white material-icons close d-none mr-0" aria-label="close" (click)="toggleCloseButton(); clearSearch()">
            <fa-icon [icon]="['fas', 'close']" [size]="'lg'"></fa-icon>
          </button> 
        </div>     
      </form>
    </div>
  </div>
</div>
<div id="noResults" class="alert alert-danger container search-results text-center text-black my-2" *ngIf="searched && hits.length === 0">
  <h2 class="d-none d-lg-block">🥹 No Matched Results Found for {{searchTerm}}😭</h2>
  <h4 class="d-lg-none">🥹 No Matched Results Found for {{searchTerm}} 😭</h4>
  <p class="d-none d-lg-block">we will make a note of that 📝<br>more content comming soon</p>
  <p class="d-lg-none">we will make a note of that 📝<br>more content comming soon</p>
</div>
<div class="container search-results" *ngIf="hits.length > 0">
  <div class="col-12 col-md-10 col-sm-12 mx-auto position-relative">
    <ul class="list-group justify-content-center border rounded position-absolute w-100 custom-z-index">
      <li class="list-group-item d-flex flex-column flex-lg-row text-white align-items-start text-left" *ngFor="let hit of hits">
        <div class="flex-grow-1 p-2 content-container">
          <a [routerLink]="['/detail', hit.id]" class="text-decoration-none text-white">
            <h2 class="d-none d-lg-block" [innerHTML]="hit._highlightResult.title.value | safeHtml"></h2>
            <h4 class="d-lg-none" [innerHTML]="hit._highlightResult.title.value | safeHtml"></h4>
            <p class="small d-lg-none" [innerHTML]="hit._highlightResult.description.value | safeHtml"></p>
            <p class="d-none d-lg-block" [innerHTML]="hit._highlightResult.description.value | safeHtml"></p>
            <a [href]="hit.url | safe" target="_blank" class="text-white d-block mt-2"><p>Youtube Video</p></a>
          </a>
        </div>
        <div class="p-2 content-container">
          <p class="small d-lg-none">Tags for {{hit.title}}</p>
          <p class="d-none d-lg-block">Tags for {{hit.title}}</p>
          <div>
            <button [routerLink]="['/', tag]" type="button" class="btn btn-sm btn-outline-light mx-1 mb-1 tag-{{tag}}" *ngFor="let tag of hit.tags">#{{tag}}</button>
          </div>
          <p class="small d-lg-none">Pages for {{hit.title}}</p>
          <p class="d-none d-lg-block">Pages for {{hit.title}}</p>
          <div>
            <button [routerLink]="['/', page]" type="button" class="btn btn-sm btn-primary mx-1 mb-1" *ngFor="let page of hit.pages">🔗{{page}}</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

