// inport the global variables
@import "../../../styles/components/variables";
@import "../../../styles/components/tags";

 $linearGradient: linear-gradient(to right, #8105ec, #7a02ef, #7201f3, #6900f6, #5f00fa, #5517fc, #4923fe, #3c2cff, #2f3bff, #2047ff, #1151ff, #005aff);
 $stepFunction: ease-in-out;
 $time: 0.4s;

.dark-theme {
  background-color: #333;
  color: #fff;
}

.search-box-component{
   //add border thin with transition to show on focus 
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color $time/2 ease-in-out;
  &:focus {
    border-color: $Accent-color2;
    box-shadow: none;
  }
  &:hover {
    border-color: $Accent-color2;
    box-shadow: none;
  }
}

.custom-input {
font-family: $global-font-family;
background-color: transparent;
border: none;
transition: border-color $time $stepFunction;
outline: none;
caret-color: $Accent-color; // cursor color
color: $text-color-light;
z-index: 11; // higher than overlay to make it clickable when overlay is active
border-bottom: transparent solid 1px;
background-size: 0% 2px;
background-repeat: no-repeat;
background-position: 100% 100%;
transition: background-size $time $stepFunction;
  &:focus {
    background-image: $linearGradient;
    background-size: 100% 2px;
    background-position: 0% 100%;
    box-shadow: none;
  }
  &:hover {
    background-image: $linearGradient;
    border:none;
    background-size: 100% 2px;
    background-position: 0% 100%;
    box-shadow: none;
  }
}

.material-icons {
  color: inherit;
  font-size: 24px;
  vertical-align: middle;
  z-index: 11; // higher than overlay to make it clickable when overlay is active 
}

.close {
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #6f00ff;
    //cursor is a sad face when hovring over the close button
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25'><text x='0' y='15' >😭</text></svg>")
        0 0,
      auto;
  }

}  
.search-icon {
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #00ffc8;
    //cursor is a sad face when hovring over the close button
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25'><text x='0' y='15' >🤓</text></svg>")
        0 0,
      auto;
  }

}  

.list-group-item:hover {
  background-color: #1a1031;
}

.list-group-item:active {
  background-color: #191129;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

li.list-group-item {
  border:none;
  box-shadow: none;
  background: $background-image-dark;
  &:hover{
    background:radial-gradient(circle, #1e062b, #1d072d, #210a35, #160624, #0d0115);
  }
}

.yt-thumbnail{
  border: 1px solid #ffffff;
  &:hover{
    border: 2px solid #f200ff;
  }
}

.custom-z-index-searchlist {
  //list items from search bar are on top of all content behind it
  z-index: 9999;
}

.content-container {
  flex: 1;
  word-wrap: break-word;
  border:none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background-image-dark; 

  opacity: 0.95;
  pointer-events: none;
  z-index: 10; /* higher than other elements to create overlay , should be 10 */
}

.custom-z-index-searchlist {
  position: relative; /* to make it on top of the overlay */
  z-index: 11; /* higher than overlay */
}
