// inport the global variables
@import "../../../styles/components/variables";
@import "../../../styles/components/tags";

 $linearGradient: linear-gradient(90deg, rgb(21, 4, 254) 0%, rgb(65, 2, 255) 18%, rgb(0, 0, 255) 43%, rgb(87, 4, 255) 73%, rgba(0,37,255,1) 100%);
 $stepFunction: ease-in-out;
 $time: 0.4s;

.dark-theme {
  background-color: #333;
  color: #fff;
}

.search-box-component{
   //add border thin with transition to show on focus 
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border-color $time/2 ease-in-out;
  &:focus {
    border-color: #13007c;
    box-shadow: none;
  }
  &:hover {
    border-color: #0d00ff;
    box-shadow: none;
  }
}

.custom-input {
font-family: $global-font-family;
background-color: transparent;
border: none;
transition: border-color $time $stepFunction;
outline: none;
caret-color: #ff00f7; // cursor color
color: #fff;
z-index: 11; // higher than overlay to make it clickable when overlay is active
border-bottom: transparent solid 1px;
background-size: 0% 2px;
background-repeat: no-repeat;
background-position: 100% 100%;
transition: background-size $time $stepFunction;
  &:focus {
    background-image: $linearGradient;
    background-size: 100% 2px;
    background-position: 0% 100%;
    box-shadow: none;
  }
  &:hover {
    background-image: $linearGradient;
    border:none;
    background-size: 100% 2px;
    background-position: 0% 100%;
    box-shadow: none;
  }
}

.material-icons {
  color: inherit;
  font-size: 24px;
  vertical-align: middle;
  z-index: 11; // higher than overlay to make it clickable when overlay is active 
}

.close {
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #6f00ff;
    //cursor is a sad face when hovring over the close button
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25'><text x='0' y='15' >😭</text></svg>")
        0 0,
      auto;
  }

}  
.search-icon {
  margin: 0;
  cursor: pointer;

  &:hover {
    color: #00ffc8;
    //cursor is a sad face when hovring over the close button
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='25'><text x='0' y='15' >🤓</text></svg>")
        0 0,
      auto;
  }

}  

.list-group-item:hover {
  background-color: #39236c;
}

.list-group-item:active {
  background-color: #4c327d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

li.list-group-item {
  border:none;
  border-radius: 20px;
  box-shadow: none;
  background-color: #07042f;
  &:hover{
    background-color: #1600c1;
  }
}

.yt-thumbnail{
  border: 1px solid #ffffff;
  &:hover{
    border: 2px solid #f200ff;
  }
}

.custom-z-index-searchlist {
  //list items from search bar are on top of all content behind it
  z-index: 9999;
}

.content-container {
  flex: 1;
  word-wrap: break-word;
  border:none;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #110141;  /* black color */
  opacity: 0.8;
  pointer-events: none;
  z-index: 10; /* higher than other elements to create overlay */
}

.custom-z-index-searchlist {
  position: relative; /* to make it on top of the overlay */
  z-index: 11; /* higher than overlay */
}
