@import "../../../styles/components/variables";
@import "../../../styles/components/tags";

.card-style {
  background-color: #5100ff;
  border: 1px solid white;
  max-width: 100%;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.modal-style {
  background-color: #1900;
  z-index: 999;
}

.modal-content-style {
  background-color: rgb(47, 0, 255);
  border: 1px solid white;
}

.modal-dialog {
  min-width: 320px; /* Ensuring a minimum width */
}

.modal-content {
  background-color: #1900; /* set the background color */
  border: 1px solid white;
}

.modal-scroll {
  max-height: 80vh; /* Adjust this to your liking */
  overflow-y: auto;
}


.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* for 16:9 ratio */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 800px) {
  .modal-dialog {
    width: 50%; /* Setting the width to 50% on screens wider than 800px */
    max-width: 960px; /* 50% of 1920px as mentioned in your previous messages */
  }
}

