@import "../../../styles/components/variables";
@import "../../../styles/components/tags";

.card-style {
  background-color: #5100ff;
  border: 1px solid white;
}
.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.card-body-style {
  background-color: #5100ff;
  border: 1px solid white;

}