<div class="card-container-flex">

    <div class="card" *ngFor="let hit of tutorials;"> 

      <div class="card-header-flex">
        <img (click)="openModal(hit.id!)" class="card-image" [src]="hit.img" alt="Card image {{hit.title}}">
        <jw-modal id="{{hit.id}}">
          <div >
            <div class="title-container">
              <h3>{{hit.title}} THIS IS THE TITLE RIGHT NOW</h3>
            </div>
            <div class="iframe-container">
              <iframe [src]="hit.url! | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="container">
              <button (click)="closeModal(hit.id!)">
                <button class="button-64" role="button"><span class="text">Close Window</span></button>
              </button>
            </div>
          </div>
        </jw-modal>
        <h3 class="card-title">{{hit.title}} RIGHT HERE RIGHT NOW - BOTTom</h3>
      </div>

      <footer class="card-footer">
      <div class="card-content" style="background-color: blueviolet;">
        <div class="tag-list-container">
          <div class="tag" *ngFor="let tag of hit.tags; let i = index;">
            <a (click)="closeModal('Nav-SearchID')" (click)="logToConsole(hit.id!,tag,'refreshed list too')" [routerLink]="['/',tag]" class="btn tag-{{tag}}">{{tag}}</a>
          </div>
        </div>
        <div class="card-buttons">
          <a [routerLink]="['/details']" class="btn btn-primary">Code Details</a>
        </div>
      </div>
        <h3>THIS IS FOOTER SHITTTT</h3>
      </footer>
      </div>
    
  </div>
