<div class="container-fluid">
  <div class="col-lg-12">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-md-12 mb-4" *ngFor="let hit of tutorials;">
        <div class="card mx-auto d-flex flex-column card-style">
          <img (click)="openModal(hit.id!)" class="card-img-top" [src]="hit.img" alt="Card image {{hit.title}}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{hit.title}}</h5>
            <div class="card-text flex-grow-1">
              <div class="d-flex flex-wrap">
                <button type="button" class="btn btn-outline-light btn-sm m-1" *ngFor="let tag of hit.tags;" (click)="closeModal('Nav-SearchID'); logToConsole(hit.id!,tag,'refreshed list too');" [routerLink]="['/',tag]">{{tag}}</button>
              </div>
            </div>
            <a [routerLink]="['/details']" class="btn btn-primary mt-3">Code Details</a>
          </div>
          <div class="card-footer text-muted">THIS IS FOOTER</div>
        </div>
        <jw-modal id="{{hit.id}}">
          <div class="modal-dialog modal-dialog-centered container-fluid position-fixed top-50 start-50 translate-middle modal-style">
            <div class="modal-content px-3 py-3 modal-scroll">
              <div class="modal-header">
                <h5 class="modal-title" id="cardModalLabel">{{hit.title}} THIS IS THE TITLE RIGHT NOW</h5>
                <button type="button" class="btn btn-outline-danger mb-3 ml-3 px-5 py-1 rounded-pill close" aria-label="Close" (click)="closeModal(hit.id!)"> 
                  <fa-icon [icon]="['fas', 'close']" [size]="'lg'"></fa-icon>
                </button>
              </div>
              <div class="modal-body d-flex justify-content-center video-modal">
                <div class="video-container">
                  <iframe class="embed-responsive-item" [src]="hit.url! | safe" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
              <div class="modal-description py-2">
                <p>{{hit.description}}</p>
                <p>{{hit.description}}</p>
                <p>{{hit.description}}</p>
                <p>{{hit.description}}</p>
              </div>
            </div>
          </div>
        </jw-modal>
    </div>
  </div>
</div>
